<div class="row">
  @for (card of cardList(); track card.name) {
    <div class="col-md-3 my-2">
      <div class="card shadow-sm">
        <div class="row">
          <div class="col-6">
            <img src="" alt="" class="card-img">
          </div>
          <div class="col-6">
            <div class="card-header">
              <div class="card-title">
                <h5></h5>
              </div>
            </div>
            <div class="card-body">
              <p><strong><span>Types: </span></strong></p>
              @if (card.name) {
                <p><strong><span>Types: </span></strong></p>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
