<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">APIs App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="/final-space/list">Final Space</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/monster-hunter/list">Monster Hunter</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/pokemon-tcg/list">Pokemon TCG</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/valorant/list">Valorant</a>
      </div>
    </div>
  </div>
</nav>

